%header.bg-red.text-light
  .container.d-flex.justify-content-start.align-content-center.p-4
    .contact-tab.mr-4
      %i.fa.fa-phone.mr-1
      %span (02) 910 0699
    .contact-tab
      %i.fa.fa-envelope.mr-1
      %span draft@cars.com.ph
