%section.bg-light-black.text-light.pt-4#footer
  .container.pt-4
    .row
      .col-md-12
        .text-right
          = image_tag 'logo.png', class: 'footer-logo'
          %p Full Tech Equipment and Machinery Inc.
