= render 'shared/header' 

%section.jumbotron.d-flex.flex-column.text-center.pt-0.pb-0.position-relative.no-border-bottom#hero{"style": "background-image: url('assets/aboutus-bg.png/');"}
  .container.h-100.position-relative
    = render 'navbar'
    .hero-content
      %h1.text-uppercase.text-light.text-right.mr-4.mt-4 About Us

%section.mb-4#aboutus
  .container
    .row
      .col-md-12.pb-4.mb-4
        %h3.text-uppercase.text-red.text-bold About Us 
        %p 
          Full Tech Equipment and Machinery Inc. was established
          January 2018 with the aim to support the growing demand for
          dependable heavy equipment in the fields of construction,
          engineering and mining to name a few. Led by a competent
          management, we will strive to be the best in this endeavour.
    .row
      .col-md-5.pb-4.mb-4
        %h3.text-uppercase.text-red.text-bold Mission
        %p 
          We are fully committed in providing quality and reliable
          heavy equipment and machinery geared towards helping our
          partners reach their goals and create value in all our
          undertakings.
      .col-md-5.pb-4.mb-4
        %h3.text-uppercase.text-red.text-bold Vision
        %p 
          We envision ourselves to be the top choice of the industry
          in providing solutions to heavy equipment requirements and be
          recognized as a major and dependable contributor to the
          development of the fields we are engaged in.

= render 'footer'
