= render 'shared/header' 

%section.jumbotron.d-flex.flex-column.text-center.pt-0.pb-0.position-relative.no-border-bottom#hero{"style": "background-image: url('assets/headers/header-1.png/');"}
  .container.h-100.position-relative
    = render 'navbar'
    .hero-content
      %h2.text-uppercase.text-light.text-center.mr-4.mt-4 COMFORTABLE AND ENVIRONMENTAL INTERIOR TRIM

%section.mb-4#headerPage
  .container
    .row
      .col-md-12.pb-4.mb-4
        %p 
          The whole body strength of CAMC heavy duty truck is properly distributed , which can fully meet the protection requirement for driver and passenger at the time of crash
        %p
          The cab is designed of dimensional circular arc, ensuring enough driving space. Its internal space is broad and bright with wide vision.
          Its decoration is luxurious and practical. The interior trim adopts international advanced environmental materials.
        %p
          With advanced configuration, the cab is of stable, reliable quality and comfortable to drive.
        %p
          With computer optimized design and absorption of Mitsubishi technical advantages, the all-steel cab has reasonable safety space and high body strength, which can furthest ensure the safety of driver and enhance the body anti-crash capacity.

= render 'footer'
