= render 'shared/header' 

%section.jumbotron.d-flex.flex-column.text-center.pt-0.pb-0.position-relative.no-border-bottom#hero{"style": "background-image: url('assets/headers/header-4.png/');"}
  .container.h-100.position-relative
    = render 'navbar'
    .hero-content
      %h2.text-uppercase.text-light.text-center.mr-4.mt-4 Go Global

%section.mb-4#headerPage
  .container
    .row
      .col-md-12.pb-4.mb-4
        %p 
          Through the thorough research of features of foreign heavy duty truck CAMC elaborately designs and creates reliable safe and comfortable product with high technology content and stable quality for foreign users and provides perfect after-sales service for overseas users. All products are well accepted by users of all countries and exported to more than 60 countries and areas such as, North America, Middle East, Central Asia, Eastern Europe, South America &amp; Southeast Asia.

= render 'footer'
