= render 'shared/header' 

%section.jumbotron.d-flex.flex-column.text-center.pt-0.pb-0.position-relative.no-border-bottom#hero{"style": "background-image: url('assets/headers/header-3.png/');"}
  .container.h-100.position-relative
    = render 'navbar'
    .hero-content
      %h2.text-uppercase.text-light.text-center.mr-4.mt-4 Hanma Engine

%section.mb-4#headerPage
  .container
    .row
      .col-md-12.pb-4.mb-4
        %p 
          CAMC Engine is the series of high-performance engine products with independent intellectual property rights that are developed under the cooperation between Anhui Hualing Automobile Co. Ltd and international first-class R&amp;D institutions. It includes CM6D18, CM6D28, CM6T18,CM6T28 with displacements of 9.8 liters and 11.8 liters and power range from 199kW to 353 kW
        %p
          The series engine is outstanding products with 6 cylinders inline, 4 valves, integrated cylinder head, overhead camshaft, rear gear chamber. For CAMC diesel engine, BOSCH high pressure common rail oil injection system is adopted and for CAMC natural gas engine WOODWARD electrically-controlled natural gas injection system is applied. The engine B10 lifespan last 1,000,000 km, which can meet EURO 4 and 5 emission standards and also has the potential of developing EURO 6 emission standard.
        %p
          The engine is suitable for highway logistics transportation, engineering transportation and special vehicle, and also can meet the needs of long distance buses, construction machinery, generator set application, etc. Product characteristics: High Power, lower fuel consumption, environmental protection and high reliability.

= render 'footer'
