= render 'shared/header' 

%section.jumbotron.d-flex.flex-column.text-center.pt-0.pb-0.position-relative.no-border-bottom#hero{"style": "background-image: url('assets/CAMC-7.jpeg/');"}
  .container.h-100.position-relative
    = render 'navbar'
    .hero-content
      %h2.text-uppercase.text-light.text-center.mr-4.mt-4 PLAY AN IMPORTANT ROLE IN THE TRANSPORTATION OF HIGH-SPEED AND HEAVY GOODS

%section.mb-4#headerPage
  .container
    .row
      .col-md-12.pb-4.mb-4
        %p 
          The frame of CAMC heavy duty truck generally adopts internationally accepted variable cross-section over-beam ladder bearing frame. Front of this kind of frame is wide and rear is narrow with strong bearing capacity, which can meet the requirement of installation of various kinds of power, especially at high power. Besides, the frame includes no rivet on its upper and lower panels and specially provides scientific refitting, which efficiently avoided the damage of the frame structure during refitting and furthest, improves the bearing capacity of the frame.
        %p
          CAMC Heavy duty truck is new and environmental- friendly product developed and manufactured through the introduction of Japanese advanced automobile technology. Its engine meets EURO 5 environmental standard, realizing the win-win combination of high-power and high-level cleanliness.

= render 'footer'
