= render 'shared/header' 

%section.jumbotron.d-flex.flex-column.text-center.pt-0.pb-0.position-relative.no-border-bottom#hero{"style": "background-image: url('assets/CAMC-1.jpeg/');"}
  .container.h-100.position-relative
    = render 'navbar'
    .hero-content
      %h2.text-uppercase.text-light.text-center.mr-4.mt-4 Product Opacity

%section.mb-4#headerPage
  .container
    .row
      .col-md-12.pb-4.mb-4
        %p 
          The core parts as engine, cab, axle, frame, electrical system are always at domestic leading level with independent intellectual property rights.
        %p
          With the goal of creating world class product, the company integrates with international and domestic top quality parts resources, such as Bosch, Jacobs, Hansen and so on to establish advanced information management platform, forming perfect, effective and professional matching system and powerful capacity to provide auxiliary items, which can meet the diversified demands of markets at different levels and in different regions at home and abroad.
        %p
          The company is equipped with world class advanced production lines for pressing, welding, final assembly, test and other processes.

= render 'footer'
