// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'variables';
@import 'bootstrap';
@import 'font-awesome';

body {
  font-family: $font-montserrat;
}

h1 {
  font-weight: 800;
}

h2, h3, h4 {
  font-weight: 600;
}

.bg-red {
  background: $color-red;
} 

.bg-light-black {
  background: $color-light-black;
}

.bg-black {
  background: $color-black;
}

.bg-gray {
  background: $color-gray;
}

.bg-light-gray {
  background: $color-light-gray;
}

.text-red {
  color: $color-red;
}

.jumbotron {
  border-radius: 0;
}

.navbar {
  padding: 0;
  top: 0;
  .navbar-brand {
    margin: 0;
    padding: 15px;
    flex: 1;
    img {
      width: 60px;
    }
  }
  ul.navbar-nav {
    flex: 6;
    li.nav-item {
      padding: 15px;
      flex: 1;
    }
    .dropdown-menu {
      ul {
        list-style-type: none;
        li {
          padding: 0;
          margin: 10px;
          img {
            width: 100%;
            position: relative;
          }
          h1 {
            top: 0;
            left: 0;
            z-index: 2;
            &:before {
              content: '';
              position: absolute;
              top: 0;
              width: 0;
              width: 100%;
              height: 100%;
              background: $color-black;
              opacity: 0.6;
              z-index: -1;
            }
          }
        }
      }
    }
    ul.navbar-nav {
      flex: 8;
      li.nav-item {
        padding: 15px;
        flex: 1;
      }
    }
  }
  #contact-content {
    margin-top: 80px;
  }
}

#contact-us{
  .contact-list {
    list-style-type: none;
  }
}

#hero {
  border-bottom: 70px solid $color-gray;
  background-size: cover;
  background-position: center;
  &:before {
    background: $color-black;
    opacity: 0.3;
    position: absolute;
    content: 'asd';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .navbar {
    top: 0;
    .navbar-brand {
      margin: 0;
      padding: 15px;
      img {
        width: 60px;
      }
    }
    ul.navbar-nav {
      flex: 8;
      li.nav-item {
        padding: 15px;
        flex: 1;
      }
    }
  }
  .hero-content {
    padding: 150px 0;
  }
  .hero-buttons {
    bottom: -30px;
    button {
      border: 0;
    }
  }
}

#products {
  .container {
    padding: 20px;
    background: white;
    top: -50px;
  }
  .carousel-indicators {
    bottom: -50px;
    li {
      width: 10px;
      height: 10px;
      background: $color-gray !important;
      &.active {
        background: $color-red !important;
      }
    }
  }
}

#trucks-list {
  img {
    object-fit: cover;
    height: 250px !important;
  }
}

#services {
  padding: 50px 0;
  h1 {
    font-size: 60px;
  }
  .jumbotron {
    background: image_url('home-services-bg.png');
    background-size: cover;
    background-position: center;
    &:before {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content: '';
      z-index: 1;
      background: -moz-linear-gradient(left, rgba(0,0,0,0.65) 1%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(left, rgba(0,0,0,0.65) 1%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to right, rgba(0,0,0,0.65) 1%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */

    }
    .container {
      padding: 100px 0;
      z-index: 2;
    }
  }
}

#achievements {
}


#trucks {
  h1 {
    font-size: 60px;
  }
  .jumbotron {
    background: image_url('home-trucks-bg.png');
    background-size: cover;
    background-position: center;
    &:before {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content: '';
      z-index: 1;
      background: -moz-linear-gradient(left, rgba(0,0,0,0.65) 1%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(left, rgba(0,0,0,0.65) 1%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to right, rgba(0,0,0,0.65) 1%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */
    }
    .container {
      padding: 100px 0;
      z-index: 2;
    }
  }
}

// About Us page
#aboutus {
  padding: 50px 0;
}

// Footer
#footer {
  .footer-logo {
    width: 100px;
  }
  ul {
    list-style-type: none;
  }
}
