@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600,800');

$color-red: #A60000;
$color-black: #000000;
$color-light-black: #282828;
$color-gray: #1C2029;
$color-light-gray: #F4EFF1;
$color-white: #FFF;

$font-montserrat: 'Montserrat', sans-serif;
